{% extends 'articles/base.html' %}
{% block title %}Add a New Article{% endblock %}
{% block playlists_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'articles:detail' playlist.id %}">
                      {{ playlist.playlist_title }}
                    </a>
                    <h1>{{ playlist.playlist_title }} <small>{{ playlist.playlist_topic }}</small></h1>
                    <h2>{{ playlist.playlist_creator }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'articles:detail' playlist.id %}">View All</a></li>
                <li role="presentation" class="active"><a href="{% url 'articles:create_article' playlist.id %}">Add New Article</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Article</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="playlist" value="{{ playlist }}">
                        {% include 'articles/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
